.container {
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout-container {
 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.checkout-left,
.checkout-right {
    flex: 0 0 48%;
    box-sizing: border-box;
    padding: 40px;
    background-color: #f7f7f7;
    border-radius: 8px;
    margin-bottom: 20px;
   
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.order-item {
    margin-bottom: 20px;
}

.order-item .product-info {
    display: flex;
}

.order-item .product-image {
    flex: 0 0 30%;
    margin-right: 20px;
}

.order-item .product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.order-item .product-details {
    flex: 1;
}

.order-item .product-details p {
    margin: 5px 0;
}

.order-total {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #ccc;
}

.order-total h4 {
    font-size: 20px;
    color: #d9534f;
}

.payment-methods {
    margin-bottom: 20px;
}

.payment-methods .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.payment-methods input[type="radio"] {
    margin-right: 10px;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}
