.buttons {

    margin: 20px;
}

.buttons button {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid white;
    width: 150px;
    height: 50px;
    text-align: center;

    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;

    font-family: Poppins;
    letter-spacing: 3px;
}

.buttons button:hover {
    background-color: #EEEEEE;
    color: black;
}


.des {
    height: auto;
    width: 800px;
    font-size: 20px;
    color: #F0FFFF;
    margin-top: 59px;
    padding-left: 10px
}

.tieude-slide {
    position: absolute;
    top: 0;
    font-size: 14px;
    font-weight: 500;
    margin: 190px 8px;
    color: #F0FFFF;


}

.banner-slider {
    width: 100%;
    display: flex;
    height: 650px;
    position: relative;
}

#slider-img,
#slider-imgg,
#slider-imggg,
#slider-imgggg,
#slider-imggggg {
    width: 100%;
    height: 100%;

}

#slider-img img,
#slider-imgg img,
#slider-imggg img,
#slider-imgggg img,
#slider-imggggg img {
    width: 100%;
    height: 100%;
}

#slider-imgg,
#slider-imggg,
#slider-imgggg,
#slider-imggggg {
    display: none;
}

.banner-sliderr {
    width: 700px;
    margin-top: -270px;
    margin-left: 800px;
    position: absolute;
}

.banner-itemm img {
    border-radius: 25px;
    width: 160px;
    height: 230px;

}



.title {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    height: 78px;
    line-height: 78px;
    opacity: 1;
    text-shadow: rgba(0, 0, 0, 0.267) 0px 5px 10px;
    transform: matrix(1, 0, 0, 1, 0, 0);


}

.topic {
    color: #f1683a;
    font-size: 50px;
    font-weight: 700;
    height: 78px;
    line-height: 58px;
    opacity: 1;
    text-shadow: rgba(0, 0, 0, 0.267) 0px 5px 10px;
    transform: matrix(1, 0, 0, 1, 0, 0);


}

.conten {

    position: absolute;
    color: #FFFFFF;
    width: auto;
    height: auto;
    top: 50px;
    left: 100px;
    line-height: 25px;

}

.slick-arroww {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 1;
    z-index: 2;
    transition: all 0.2s linear;
    display: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.2);
}

.slick-prev::before {
    content: '';
}

.slick-next::before {
    content: '';
}

.slick-prev-dt {
    left: -40%;
}

.slick-next-dt {
    left: -34%;

}
.Slide-main{
    width: 100%;
    height: 650px;
}
.slick-arrow:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 8px;
    color: #55c57a;
    background-color: #fff;
    width: 35px;
    height: 35px;
}

#main-top-2 {
    width: 100%;
    height: 550px;
    background-color: rgb(246, 246, 244);   
    float: left;
  
}

#text-main-top-2 {
    width: 660px;
    height: 450px;

    float: left;
    margin-left: 45px;
}

.h {
    float: left;
    box-sizing: border-box;
    color: #222222;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    line-height: 25.6px;

}

.hh {
    float: left;
    font-size: 40px;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    line-height: 40px;
    position: absolute;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #5a4137;
    -webkit-text-stroke-width: 1px;
}

.hhh {
    float: left;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    box-sizing: border-box;
    color: #a56d00;
    display: block;
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    position: absolute;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
    animation-name: animate;

}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 81%, 84% 69%, 100% 72%, 100% 100%, 0% 100%)
    }

    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}
#text-MT1 {
    margin-top: 100px;
    line-height: 30px;
    font-family: "Quicksand", sans-serif;
    font-size: 17px;

}

#LHTV {
    height: 33px;
    width: 189px;

    border: 2px solid;
    background-color: transparent;
    font-size: 16px;
    margin: 12px 0px;
    border-color: #8d0000;
    border-top-right-radius: 99px;
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
    border-bottom-right-radius: 99px;
    font-family: "Quicksand", sans-serif;
    float: left;
}

#LHTV:hover {
    background-color: #8d0000;

}

#LHTV:hover strong {
    color: white;
}

#video-main {
    width: 704px;
    height: 460px;
    float: left;
    margin: 25px 50px;
    position: relative;
}

.video-main {
    width: 100%;
    height: 460px;
    float: left;
    margin-left: 30px;


}

.block {
    float: left;
    width: 200px;
    height: 200px;
    margin: 170px 280px;
    position: absolute;
}

.play-button {
    width: 60px;
    height: 60px;
    position: absolute;
    border: 2px solid #fff;
    border-radius: 54px;
    margin: 30px 80px;
}

.play-button:hover {
    background-color: #5a4137;
}

.play-button span {
    position: absolute;
    top: 14px;
    left: 20px;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 25px solid #b69117;
}



#img-middle-1 {
    float: left;
    margin: -10px 680px;

}

#DVCVT {
    width: 450px;
    height: 60px;
    margin: 20px 580px;
    border: 0px solid;
}




#img-middle-2 {
    width: 100%;
    height: 700px;
    float: left;
    margin: 50px 0px;

}

.content {
    height: 700px;
    width: 508px;
    overflow: hidden;
    float: left;
    position: relative;


}

.zoomin img {
    height: 700px;
    width: 508px;
    float: left;
    position: relative;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
    transform: scale(1.2);

}

.zoomin:hover img {

    transform: scale(1.35);


}

.text-zoom-1 {
    background-color: #a03522;
    color: white;
    margin: 350px 70px;
    text-align: center;
    width: 384px;
    height: 81px;
    line-height: 10px;
    position: absolute;
    font-family: "Quicksand", sans-serif;

}


.border-zoom {
    width: 333px;
    height: 61px;
    border: 3px solid white;
    position: absolute;
    margin: 8px 18px;
    opacity: 0;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;


}

.zoomin:hover .border-zoom {
    width: 316px;
    margin: 7.5px 32px;
    opacity: 1;
    transform: scale(1.2);
}


/* cửa hàng sản phẩm */

#main-middle-2 {
  width: 100%;
  height: 1230px;

  float: left;
}

#CHSP {
  margin: 30px 550px;
  float: left;
}

#CHSP-text {
  float: left;
  margin: 5px 430px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

.text-zoom-2 {
  background-color: #f1f1f1;
  color: #a03522;
  font-size: 28.6px;
  margin: 200px 180px;
  opacity: 0.8;
  text-align: center;
  width: 554px;
  height: 100px;
  line-height: 10px;
  position: absolute;
  font-family: "Quicksand", sans-serif;

}

.content-1 {
  height: 500px;
  width: 900px;
  overflow: hidden;
  float: left;
  position: relative;
  margin: 10px 10px;
}

.zoomin-1 img {
  height: 500px;
  width: 900px;
  float: left;
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  filter: brightness(80%);
}

.zoomin-1:hover img {

  transform: scale(1.15);
  filter: brightness(60%);


}

.border-zoom-1 {
  width: 490px;
  height: 70px;
  border: 3px solid #a03522;
  position: absolute;
  margin: 12px 25px;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  transition: all 0.7s ease;


}

.zoomin-1:hover .border-zoom-1 {
  width: 460px;
  height: 80px;
  margin: 7px 43px;
  opacity: 1;
  transform: scale(1.2);

}

.XCT{
  height: 25px;
  width: 124px;
  border: 2px solid;
  font-size: 12px;
  margin: -5px 200px;
  border-color: #8d0000;
  border-top-right-radius: 99px;
  border-top-left-radius: 99px;
  border-bottom-left-radius: 99px;
  border-bottom-right-radius: 99px;
  font-family: "Quicksand", sans-serif;
  position: absolute;
}

.XCT:hover {
  background-color: #8d0000;

}

.XCT:hover strong {
  color: white;
}



#gg {
  margin: 3px 0px;
}

#ggg {
  margin: 3px 0px;
}

#gggg {
  margin: 3px 0px;
}

#ggggg {
  margin: 3px 0px;
}

.text-zoom-3 {
  background-color: #f1f1f1;
  color: #a03522;
  font-size: 23.4px;
  margin: 200px 90px;
  opacity: 0.8;
  text-align: center;
  width: 408px;
  height: 88px;
  line-height: 10px;
  position: absolute;
  font-family: "Quicksand", sans-serif;

}

.content-2 {
  height: 500px;
  width: 580px;
  overflow: hidden;
  float: left;
  position: relative;
  margin: 10px 10px;
}

.zoomin-2 img {
  height: 500px;
  width: 580px;
  float: left;
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  filter: brightness(80%);
}

.zoomin-2:hover img {

  transform: scale(1.15);
  filter: brightness(60%);


}

.border-zoom-2 {
  width: 350px;
  height: 60px;
  border: 3px solid #a03522;
  position: absolute;
  margin: 12px 25px;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.zoomin-2:hover .border-zoom-2 {
  width: 338px;
  height: 70px;
  margin: 7px 34px;
  opacity: 1;
  transform: scale(1.2);

}


#CHSP-text {
  float: left;
  margin: 5px 430px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}


/* danh sách sản phẩm */

#SPCHINH{
  width: 100%;
  height: 1314px;

  float: left;
 
  text-align: center;
 
}
#SPCHINH li{
  display: inline-block;
  margin-right: 20px;
padding-top: 15px;
  width: 199px;
  height: 25px;
  font-size: 12.5px;
  text-align: center;
cursor: pointer;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #A03522;
  color: white;
}
#block1{
  
  clip-path: polygon(100% 0, 100% 85%, 55% 85%,50% 100%, 45% 85%, 0 85%, 0 0);

}


.MAUSP{
  width: 470px;
  height: 555px;
  box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.22);
  float: left;
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 5px;
  float: left;
  text-align: center;
  
  }
  .img {
  width: 100%;
  height: 430px;
  position: relative;
  overflow: hidden;
  
  }
  .img img{
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
    
    }
  
  a{
  text-decoration: none;
  }
  
  #textttt{
  
  
  background-color:white;
  z-index: 1;
  width: 100%;
  }
  #textttt a{
  color: rgb(61, 75, 92);
  }
  #textttt a:hover{
    color: rgb(34, 39, 46);
  }
  .heart{
  border:1px solid rgb(252, 249, 249);
  position: absolute;
  top: 0;
  width: 35px;
  height: 35px;
  right: 10px;
  margin-top: 10px;
  opacity: 0;
  border-top-left-radius:99px;
  border-top-right-radius:99px;
  border-bottom-left-radius: 99px;
  border-bottom-right-radius: 99px;
  font-size: 20px;
  transition: 0.6s;
  }
  
  .heart:hover{
  background-color: #A03522;
  border: 0;
  }
  .MAUSP:hover .heart{
  
  
  opacity: 1;
  }
  #KHUNG-SP{
    display: block;
    width:100%;
    height: 1182px;
  
    margin-top: -10px;
  
  }
  #KHUNG-SPP{
     display: none;
     width:100%;
     height: 1182px;
   
     margin-top: -10px;
   
   }
   #KHUNG-SPPP{
     display: none;
     width:100%;
     height: 1182px;
   
     margin-top: -10px;
   
   }
   #KHUNG-SPPPP{
     display: none;
     width:100%;
     height: 1182px;
   
     margin-top: -10px;
   
   }
   #XCH{

    margin-left: 700px;
       width: 200px;
       height: 40px;
       border:2px solid #5A4137;
       
    }
    #XCH a{
      margin: 10px 20px;
       float: left;
       color: #5A4137;
       
       font-family: "Quicksand", sans-serif;
    }
    #XCH:hover{
       background-color: #5A4137;
    
    }
    #XCH:hover a{
     
       color: white;
    }



 
#DTT{
    width: 100%;
    height: 500px;
    position: relative;
    float: left;
 }
 
 #DTT-1{
    width: 980px;
    height: 500px;
    position: absolute;
    top: 0;
 
 
  
 }
 #TC{
    height: 500px;
    width: 556px;
   background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
   
    left: 967px;
  
 }
 
#formm{
    margin-top: -100px;
     width: 670px;
     height: 550px;
  margin-left: 150px;
     float: left;
  }

  #DTT-1 h3{
    color: #5A4137;
    font-size: 29px;
   margin-left: -40px;
   margin-top: 60px;
 
 }
 .button-call{
    width: 193px;
    height: 46px;
    margin: 20px 170px;
    background-color: #5A4137;
   
    
 }
 .button-call a{
    color: white;
    font-size: 18px;
 float: left;
 margin-top: 12px;
    margin-left: 25px;
    
    
 }
 #TC h2{
    margin-top: 60px;
   
 }
 
.GLHH{
    width: 136px;
    height: 44px;
    margin-left: 250px;
    background-color: #5A4137;
    color: white;
    border: 0;
 }
 
.borderr{
    margin: 0px 20px;
    border: 1px solid #8d0000;
    width: 600px;
    height: 35px;
 }


 
#DTQT{
    width: 100%;
    height: 320px;
   
    float: left;
 
 }
 #DVCLG {
    width: 450px;
    height: 60px;
    margin: 20px 580px;
    border: 0px solid;
}
.h {
    float: left;
    box-sizing: border-box;
    color: #222222;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    line-height: 25.6px;
}

/*  CSS PHẦN CHỨA NỘI DUNG */
.grid-bannerrr {
   
    overflow: hidden;
    float: left;
  
  }
  
  /* CSS PHẦN SLIDE CHUYỂN DỘNG */
  .slidesss {
  
    height: 100%;
    /* border: solid; */
    display: flex;
  }
  .slideee img {
    width: 100%;
    height: 115px;
  }
  .slidesss input {
    display: none;
  }
  .slideee {
    width: 389px;
    height: 115px;
  
    transition: 0.7s;
  }
  
  
  #raa1:checked ~ .firstt {
    margin-left: 0;
    
  }
  #raa2:checked ~ .firstt {
    margin-left: -5.5%;
  }
  
  
  
  /* .buttons {
    display: inline-block;
  } */
  /* code nút button trái phải */
  
  .prevv {
   
    position: absolute;
     margin-top: -70px;
    height: 60px;
    width: 35px;
    color: #fff;
    cursor: pointer;
    border: none;
    background-color: #757575;
    border-radius: 50%;
    opacity: 0.7;
    height: 36px;
    width: 35px;
  }
  
  
  
  .nextt {
    
    position: absolute;
  right: 10px;
   cursor: pointer;
   margin-top: -70px;
      width: 60px;
      border-radius: 50%;
  
    height: 36px;
    width: 35px;
    color: #fff;
    border: none;
    opacity: 0.7;
    background-color: #757575;
  }


  
#CTTB{
    width: 100%;
    height: 500px;
    font-family: "Quicksand", sans-serif;
    float: left;
    position: relative;
 }
 #CTTB img{
    width: 100%;
    height: 500px; 
 }
 #CTTB-left{
 width: 777px;
 height: 100%;
 
 background-color: rgb(255, 255, 255,0.7);
 position: absolute;
 line-height: 25px;
 top:0;
 }
 #CTTB-right{
    width: 773px;
    height: 100%;
    position: absolute;
    margin-left: 748px;
    top: 0;
 
 }
 #CTTB-right img{
    width: 775px;
    height: 100%;
 }
 #CTTB-XT{
 
    float: left;
    width: 117px;
    height: 34px;
    background-color: #5A4137;
  
 }
 #CTTB-XT strong{
    color: white;
 }
 #CTTB-XT:hover{
 filter: brightness(90%);
 }
 

.gg-chevron-right {
    float: left;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    color: #caa53d;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
    margin: 5px 3px;
 }
 
 .gg-chevron-right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    right: 6px;
    top: 4px
 }


 
 /*  CSS PHẦN CHỨA NỘI DUNG */
.grid-bannerr {
    height: 305px;
    
      overflow: hidden;
      float: left;
    
    }
    
    /* CSS PHẦN SLIDE CHUYỂN DỘNG */
    .slidess {
      width: 500%;
      height: 100%;
      /* border: solid; */
      display: flex;
    }
    .slidee img {
      width: 100%;
      height: 100%;
    }
    .slidess input {
      display: none;
    }
    .slidee {
      width: 20%;
      transition: 1s;
    }
    .navigation-manuall {
      position: absolute;
      width: 130px;
      margin-top: -20px;
      display: flex;
      margin-left: 205px;
      justify-content: center;
    }
    .manual-btnn {
      border: 2px solid #fff;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: 1s;
    }
    .manual-btnn:not(:last-child){
      margin-right: 10px;
    }
    .manual-btnn:hover {
      background: #A56D00;
    }
    #ra5:checked ~ .firsty {
      margin-left: 0;
      
    }
    #ra6:checked ~ .firsty {
      margin-left: -20%;
    }
    
    .navigation-autoo {
      position: absolute;
      display: flex;
      width: 130px;
      justify-content: center;
      margin-left: 125px;
      margin-top: 286px;
    }
    .navigation-autoo div {
      border: 2px solid hsla(0,0%,53.7%,.4);
      padding: 5px;
      border-radius: 10px;
      transition: 1s;
    }
    .navigation-autoo div:not(:last-child) {
      margin-right: 10px;
    }
    #ra5:checked ~ .navigation-autoo .auto-btn11{
      background: #A56D00;
    }
    #ra6:checked ~ .navigation-autoo .auto-btn22{
      background: #A56D00;
    }
    
    
    /* .buttons {
      display: inline-block;
    } */
    /* code nút button trái phải */
    
    .p {
     
     
       margin-top: 40px;
      height: 60px;
      width: 35px;
      color: #fff;
      cursor: pointer;
      border: none;
      background-color: #757575;
      border-radius: 50%;
    margin-left: 10px;
      height: 36px;
      width: 35px;
    }
    
    
    
    .n {
       left: 1480px;
       margin-top: 40px;
      position: absolute;
 
     cursor: pointer;
      
        width: 60px;
        border-radius: 50%;
    
      height: 36px;
      width: 35px;
      color: #fff;
      border: none;
      opacity: 0.7;
      background-color: #757575;
    }



    #CHVYT{
        width: 100%;
        height: 550px;
       
        float: left;
     
     }

     #DVCLG {
        width: 450px;
        height: 60px;
        margin: 20px 580px;
        border: 0px solid;
     }

     #img-middle-1 {
        float: left;
        margin: -10px 680px;
     
     }

/*  CSS PHẦN CHỨA NỘI DUNG */
.grid-bannerrrr {
 
 
    margin-top: 15px;
      overflow: hidden;
      float: left;
    
    }
    
    /* CSS PHẦN SLIDE CHUYỂN DỘNG */
    .slidessss {
      height: 415px;
   
      /* border: solid; */
      display: flex;
    }
    .slideeee img {
      width: 100%;
      height: 270px;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    
    }
    .slidessss input {
      display: none;
    }
    .slideeee {
      width: 380px;
      height: 415px;
      cursor: pointer;
      transition: 1s;
      background-color: rgb(100,100,100);
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      margin-left: 5px;
    }
    
    
    #raaa1:checked ~ .firsttt {
      margin-left: 0;
      
    }
    #raaa2:checked ~ .firsttt{
      margin-left: -10.3%;
    }
    
    .img-slideeee{
      margin-top: -15px;
      transition: 0.4s;
    }
    .slideeee:hover .img-slideeee{
      margin-top:-28px;
    
    }
    .xct-button{
     
      height: 30px;
      width: 90px;
      border: 2px solid rgb(180, 178, 178);
      background-color: rgb(100,100,100);
    color: white;
    opacity: 0.8;
    cursor: pointer;
      font-size: 11px;
      margin: -8px 130px;
      float: left;
      font-family: "Quicksand", sans-serif;
    transition: 0.7s;
    }
    .xct-button:hover{
      background-color: #5a4137;
      border: #5a4137;
    }
    /* .buttons {
      display: inline-block;
    } */
    /* code nút button trái phải */
    
    .prevvv {
     
      position: absolute;
  margin-top: -270px;
  margin-left: 10px;
      height: 60px;
      width: 35px;
      color: #fff;
      cursor: pointer;
      border: none;
      background-color: #757575;
      border-radius: 50%;
    
      height: 36px;
      width: 35px;
    }
    
    
    
    .nexttt {
       margin-top: -260px;
      position: absolute;
    right: 10px;
     cursor: pointer;
    
        width: 60px;
        border-radius: 50%;
    
      height: 36px;
      width: 35px;
      color: #fff;
      border: none;
      opacity: 0.7;
      background-color: #757575;
    }
    

    
#TACNTT{
    width: 100%;
    height: 423px;
   float: left;
   font-family: "Quicksand", sans-serif;
    position: relative;
 }
 
 
 #TACNTT-TX{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.68);
    width: 100%;
    height: 423px;
  
    font-family: "Quicksand", sans-serif;
 }
 
 #TACNTT-TX-tx{
 margin: 50px 300px;
    float: left;
    width: 950px;
    height: 250px;
    line-height: 40px;
    font-family: "Quicksand", sans-serif;
 }
 #LHTV-1{
    height: 33px;
    width: 189px;
   background-color: #810303;
    border: 2px solid;
    font-size: 16px;
    margin: 0px 650px;
    border-color: #8d0000;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: "Quicksand", sans-serif;
 
    float: left;
 }
 
 #LHTV-1:hover {
  
    filter: brightness(80%);
 }
 
 
 
 
 